opencv-python==4.11.0.86

# Akida examples requirements
matplotlib
mediapy
scikit-learn
tensorflow-datasets
accelerate
torchinfo

# Akida packages
akida ~= 2.14.0
cnn2snn ~= 2.14.0
akida_models ~= 1.8.0
tenns_modules ~= 0.1.0

# Visual Wake Word Gradio Example
gradio==5.34.2
plotly==5.24.1
pandas==2.2.3
openpyxl==3.1.5